<header>
    <nav>
        <ul class="top-menu">
            <button id="btn">Add post</button>
            <li><a href="/">Home</a></li>
            <li><a href="login">Log In</a></li>
            <li><a href="signup">Sign Up</a></li>
            <li><a href="profile">Profile</a></li>
            <li> Current user: <%= locals.username %></li>
        </ul>
    </nav>
    <nav>
        <ul class="top-menu">
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add author</a></li>
        </ul>
    </nav>
</header>