<nav >
    <header class="header">
        <p>mYso6ial</p>
        <!-- <input type="range" id="color" name="Color" min="0" max="360"> -->
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/createPost">Create post</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="signup">Sign Up</a></li>
            <li><a href="login">Log In</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </header>
</nav>
