<div>
    <h2>Create Post</h2>
    <form action="/createPost" method="POST">
        <div>
            <label for="content">Content</label>
            <input type="text" id="content" name="content" required>
        </div>
        <div>
            <button type="cancel">Cancel</button>
            <button type="submit">Create post</button>                
        </div>
    </form>
</div>