<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFacebook</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
    <body>
        <ul class="top-menu">
            <li><a href="#">Home</a></li>
            <li><a href="login">Log In</a></li>
            <li><a href="signup">Sign Up</a></li>
            <li><a href="profile">Profile</a></li>
            <li> Current user: <%= locals.username %></li>
        </ul>

        <button id="btn">Add post</button>

        <div id="posts-area">
        </div>

        <script src="script.js"></script>
    </body>
</html>