<div class="div-parent">
    <div class="div-form">
        <h2>Log In</h2>
        <form action="/login" method="POST">
            <div class="div-row">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="div-row">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="div-buttons">
                <button type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>