<div class="container">
    <div class="card m-3 p-3">
        <h2>Log In</h2>
        <form action="/login" method="POST">
            <div class="form-floating mb-3">
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                    minlength="8"
                    maxlength="30"
                    required>
                <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    minlength="8"
                    maxlength="30"
                    required>
                <label for="password">Password</label>
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
    </div>
</div>