<body>
    <div class="p-2">
        <% if (posts != null) {
            let user
            posts.slice().reverse().forEach( (post) => {
                user = users.find(u => u.id === post.uid) %>
                <div class="card mb-2 shadow">
                    <div class="card-header p-1">
                        <p class="mb-0"><%= typeof user != 'undefined' ? user.name : 'Unknown user' %>, <%= post.date %></p>
                    </div>
                    <div class="card-text d-flex">
                        <img class="img-thumbnail" style="width: 5rem; height: fit-content;" src="<%= typeof user != 'undefined' ? user.img : 'assets/Default user.jpg' %>">
                        <p style="margin: 0.5rem 1rem;"><%= post.content %></p>
                    </div>
                </div>
            <% }) 
        } %>
    </div>
</body>