<% if (user != null) { %>
    <h4>User ID: <%= user.id %></h4>
    <h4>User name: <%= user.name %></h4>
    <h4>Email: <%= user.email %></h4>
    <h4>User image: <img style="width: 80px" src="<%= user.img %>" alt="Profile picture"></h4>
    <% } %>
