
.profile-page {
    text-align: center;
    color: var(--post-color);
}

.profile-form {
    display: inline-block;
    width: 17rem;
    margin: 1rem;
    padding: 5px;
    background-color: var(--post-background-color);
    border-radius: var(--corner-radius);
    box-shadow: 5px 5px 20px hsl(var(--color-hue), 10%, 0%);
}

.profile-form h3 {
    margin: 0px 0px 5px 0px;
}

.profile-form p {
    margin: 0px 0px 5px 0px;
}
.profile-form ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

.profile-form li {
    margin: 5px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-form li label {
    margin-right: 5px;
}

.password-container {
    position: relative;
}

.fa-eye{
    position: absolute;
    top: 12%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}

.profile-form img {
    width: 100%;
}

.profile-reset-submit-buttons {
    width: 100%;
    text-align: right;
}

