:root {
    --corner-radius: 5px;
    --menu-background-color: lightblue;
    --background-color: rgb(45, 165, 99);
    --post-inside-border-color: rgb(228, 228, 228);
    --post-content-color: white;
    --post-header-color: rgb(240, 246, 246);
}

body {
    background-color: var(--background-color);
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    color: blue;
    background-color: var(--menu-background-color);
}

.header p {
    position: sticky;
    top: 0;
    background-color: linen;
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

.menu {
    color: blue;
    background-color: var(--menu-background-color);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0px 0px 0px 0px;
}

.menu li {
    list-style-type: none;
    list-style-position: inside;
    padding: 4px 0px;
    margin: 0px;
    border-right: 1px solid var(--post-inside-border-color);
    transition: 0.5s;
}

.menu li a {
    text-decoration: none;
}
.menu li:hover {
    color: lightyellow;
    background-color: darkblue;
    cursor: pointer;
}

/* Posts Styling */

.post {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: var(--corner-radius);
    box-shadow: 5px 5px 30px rgb(64, 64, 64);
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px;
    margin: 0px;
    background-color: var(--post-header-color);
    border-bottom: 1px solid var(--post-inside-border-color);
    border-top-left-radius: var(--corner-radius);
    border-top-right-radius: var(--corner-radius);
}

.post-header p {
    margin: 0px 4px;
}

.post-content {
    display: flex;
    background-color: var(--post-content-color);
    border-bottom-right-radius: var(--corner-radius);
    border-bottom-left-radius: var(--corner-radius);
}

.post-img-container {
    border-bottom-left-radius: var(--corner-radius);
    background-color: var(--post-header-color);
}

.post-img {
    width: 40px;
    height: 40px;
    border-radius: 25%;
    padding: 5px;
}

.post-text {
    padding: 4px 4px;
    margin: 0px;
    border-left: 1px solid var(--post-inside-border-color);
}

/* Sign Up & Log In Forms styling */

.div-parent {
    text-align: center;
}

.div-form {
    display: inline-block;
    margin: 40px;
    padding: 16px;
    background-color: var(--post-header-color);
    border-radius: var(--corner-radius);
    box-shadow: 6px 6px 15px;
}

.div-form h2 {
    padding-bottom: 10px;
    margin: 0px;
}

form .div-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

form label{
    text-align: right;
    padding-right: 6px;
}

form input {
    margin-bottom: 5px;
}

form .div-buttons {
    text-align: right;
}

